* {
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 3px;
}

button {
  background: #2f758e;
  color: white;
}

input,
textarea,
button {
  border: none
}

body {
  background: #1499c9;
  width: 550px;
  margin: 20px auto;
}

form {
  background: #85d9f7;
  padding: 10px;
}

input,
textarea,
button,
h3 {
  display: block;
  margin: 10px auto;
  padding: 5px;
  width: 500px;
}

textarea {
  height: 200px;
}

input,
textarea {
  background: white;
}

h1 {
  color: white;
  font-family: monospace;
  font-size: 30px;
  text-align: center;
}

h3 {
  color: white;
  font-family: monospace;
  font-size: 20px;
}

.output {
  margin: 20px 0;
  min-height: 50px;
  padding: 20px;
  word-wrap: break-word;
  background: #d2edf7;
}

.hidden {
  background: #1499c9;
}
